﻿body {
    font-family:Verdana;
    background:#F5F5F5;
}
header{
    fill:#F5F5DC;
    font-size:17pt;
    font:bold;
    color:white;
    background: #4682B4;
    text-align:center;
    margin:15pt;
    
}

footer{
    font-size:8pt;
    color:white;
    font: bold;
    text-align:center;
    background: #4682B4;
}

.myMenu{
    margin:12pt;
    font-size:12pt; 
}

.nav{
 background: #C0C0C0;
}

.pageContainterMargin{
    margin:12pt;
}